<app-navbar>
</app-navbar>

<div class="page">
    <div class="home-page">

        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="assets/img/photo.png" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">{{ user }}</h1>
                        <p>Player</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
                <ul class="list-unstyled">
                    <li class="active"> <a><i class="icon-home"></i>Home</a></li>
                    <li>
                        <a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Details </a>
                        <ul id="dashvariants" class="collapse list-unstyled">
                            <li><a>Dsigned by </a></li>
                            <li><a><i class="icon-user"></i>Juan José Ramos</a></li>
                            <li><a><i class="icon-user"></i>201801262</a></li>
                            <li><a><i class="icon-user"></i>A</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Dashboard</h2>
                    </div>
                </header>
                <!-- Dashboard Counts Section-->
                <section class="dashboard-counts no-padding-bottom">
                    <div class="container-fluid">
                        <div class="row bg-white has-shadow">
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                                    <div class="title"><span>Date<br>Today</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>{{hora | date:'fullDate'}}</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-red"><i class="icon-padnote"></i></div>
                                    <div class="title"><span>Local<br>Time</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>{{hora | date:'hh:mm a'}}</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                                    <div class="title"><span>Number<br>of Pets</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>{{cant}}</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                                    <div class="title"><span>Advice <br>  </span>

                                        <div class="progress">
                                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>Take good care of your pets</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <br>
                <!-- Projects Section-->
                <section class="projects no-padding-top">
                    <div class="container-fluid">
                        <!-- Project-->
                        <div class="project">
                            <div class="row bg-white has-shadow">
                                <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                    <div class="project-title d-flex align-items-center">
                                        <div class="image has-shadow"><img src="assets/img/icon.png" class="img-fluid"></div>
                                        <div class="text">
                                            <h3 class="h4">My Pets</h3>
                                        </div>
                                    </div>
                                    <div class="project-date"><span class="hidden-sm-down"></span></div>
                                </div>
                                <div class="right-col col-lg-6 d-flex align-items-center">
                                    <div class="time"><i class="fa fa-clock-o"></i> Create a new Pet </div>
                                    <div> <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">New Pet </button> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <div>
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">New Pet</h4>
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label>NAME</label>
                                            <input type="text" #nombreMascota placeholder="Pet Name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Type</label>
                                            <div class="col-sm-12 select">
                                                <select #selected class="form-control">
                                                        <option selected>Select type</option>
                                                        <option value="dog">Dog</option>
                                                        <option value="cat">Cat</option>
                                                        <option value="parakeet">Parakeet</option>
                                                  </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                    <button type="button" (click)="nuevaMascota(nombreMascota.value, selected.value)" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div>
                        <div *ngIf="!validar" class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    No pets found for you.
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
                <!-- Client Section-->
                <section class="client no-padding-top">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4" *ngFor="let m of mascotas; let i = index">
                                <app-mascota-tarjeta [mascota]="m"></app-mascota-tarjeta>
                            </div>

                        </div>

                    </div>

                </section>
                <!-- Feeds Section-->
            </div>



        </div>


    </div>

</div>