<div class="client card" *ngIf=" mascota.health > 0 && mascota.happiness > 0 && mascota.hygiene > 0 ">
    <div class="card-body text-center">
        <div class="client-avatar"><img src="{{mascota.img}}" [alt]="mascota.name" class="img-fluid rounded-circle">
            <div class="status bg-green"></div>
        </div>
        <div class="client-title">
            <h3>Name: {{mascota.name}}</h3><span>{{mascota.type}}</span>
        </div>
        <div class="client-info">
            <div class="row">
                <div class="col-4"><strong>{{mascota.health}}</strong><br><small>Health</small></div>
                <div class="col-4"><strong>{{mascota.happiness}}</strong><br><small>Happiness</small></div>
                <div class="col-4"><strong>{{mascota.hygiene}}</strong><br><small>Hygiene</small></div>
            </div>
        </div>
        <div class="client-title">
            <a (click)="updatePet( mascota.id, 'health')">Feed</a>
            <a (click)="updatePet( mascota.id, 'happiness')">Play</a>
            <a (click)="updatePet( mascota.id, 'hygiene')">Bath</a>
        </div>
    </div>
</div>

<div class="client card" *ngIf=" mascota.health == 0 && mascota.happiness == 0 && mascota.hygiene == 0 ">
    <div class="card-body text-center">
        <div class="client-avatar"><img src="assets/img/pata.png" class="img-fluid rounded-circle">
            <div class="status bg-green"></div>
        </div>

        <div class="client-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Your pet {{mascota.name}} has endorsed you.
                    </div>
                </div>
            </div>
        </div>
        <div class="client-title">
            You must be more attentive with your pets.
        </div>
    </div>
</div>